<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница не найдена</title>
</head>
<body>
    <h1>404 - Что на простом русском, сходила нахер вся братия DarkCash и прочие</h1>
    <p>Вот смотри что дальше будет</p>
    <p>Всю мету из запроса я в логи записал, VPN не поможет (Для одаренных почитай про OSI и что в себе хранят пакеты запросов)</p>
    <p>Отследить твой адрес с точностью до дома, проще чем локалхост пингануть</p>
    <p>Дальше сам можешь придумать что я сделаю с этой информацией. У меня фантазия богатая, скучно точно не будет)</p>
</body>
</html>